:root{
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

*{
  font-family: 'Plus Jakarta Sans', sans-serif;  
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: var(--very-light-grayish-blue);
  /* overflow: hidden; */
}

/* CONTENEDOR */
.notifications-container{
  position: relative;
  top: 30px;
  left: 341px;
  width: 660px;
  height: 650px;
  padding: 0;
  background: var(--white);
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 3px #ccc;
}

/* CONTENEDOR ENCABEZADO */
.container-header{
  position: relative;
  margin: 5% 4% 3%;
  width: 90%;
  /* border: 1px solid black; */
}

.container-title{
  display: inline;
  font-weight: 800;
  font-size: 1.2rem;
}

/* Numero de notificaciones */
.container-title span{
  position: relative;
  bottom: 3px;
  display: inline-block;
  width: 30px;
  height: 23px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
}

/* Buton de marcar como leido */
.button-mark{
  position: absolute;
  right: 0;
  font-size: .9rem;
  font-weight: 500;
  border-style: none;
  background-color: var(--white);
  color: var(--dark-grayish-blue);
  cursor: pointer;
}

/* Notificationes */
.notification{
  width: 85%;
  height: 10%;
  margin: 1% 7%;
  /* border: 1px solid black; */
}

.notification p, .time{
  position: relative;
  top: -1px;
  color: var(--grayish-blue);
}

.avatar{
  position: relative;
  top: 25%;
  left: 2%;
  width: 35px;
  height: 35px;
}

.avatar-commented{
  position: absolute;
  top: 440px;
  left: 560px;
  width: 35px;
  height: 35px;
}

.message{
  display: inline-block;
  font-size: .7rem;
  width: 85%;
  margin-left: 20px;
}

.time{
  display: inline-block;
  margin-left: 60px;
  font-size: .7rem;
}

/* Notificaciones no leidas */
.notification-response{
  margin-bottom: 10%;
}

.notification-unread{
  background-color: var(--very-light-grayish-blue);
  border-radius: 8px;
}

.point{
  display: inline-block;
  margin-left: 5px;
  width: 8px;
  height: 8px;
  border: 1px solid var(--red);
  background: var(--red);
  border-radius: 500px;
  visibility: visible;
}

/* Notificaciones leidas */
.notification__message{
  position: relative;
  left: 60px;
  width: 85%;
  height: 60px;
  margin-top: 5px;
  padding: 7px 30px;
  border: 1px solid var(--grayish-blue);
  border-radius: 3px;
}

.messages{
  font-size: .8rem;
  color: var(--blue);
}

.user,
.post,
.club{
  font-size: .7rem;
}

.user{
  font-size: .8rem;
  font-weight: 800;
  color: var(--very-dark-blue);
}

.post{
  font-size: .8rem;
  font-weight: 800;
  color: var(--dark-grayish-blue);
}

.club{
  font-size: .8rem;
  font-weight: 800;
  color: var(--blue);
}

@media (max-width: 375px){
  .notifications-container{
    width: 90%;
  }

  .message{
    /* position: absolute; */
    
    font-size: .6rem;
    width: 80%;
    margin-left: 8px;
  }

  .time{
    left: -7px;
  }

  .user,
  .post,
  .club{
    font-size: .7rem;
  }

  .messages{
    top: 0px;
    font-size: .6rem;
  }
}